<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Minelayer minigame concept</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <script type="text/javascript" src="js/Player.js"></script>
    <script type="text/javascript" src="js/Field.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <script type="text/javascript" src="minelayers.js"></script>
</head>
<body ng-app="minelayers">
    <div class="container">
        <h1>Minelayer <small>minigame concept by <a href="http://arrvi.eu/">Kristian Kann</a></small></h1>
        <div class="panel panel-default">
            <div class="panel-content">
                <div ng-controller="MineLayersController">
                    <table id="board" class="{{player().color}} {{canExplodeOthers &amp;&amp; 'can-expolde-others' || 'cannot-explode-others'}}">
                        <tr ng-repeat="row in board">
                            <td ng-repeat="field in row">
                                <div class="field {{field.type}} {{field.owner.color}}" ng-click="trigger(field)"></div>
                            </td>
                        </tr>
                    </table>
                    <h2>
                        Current player: <span class="label {{player().color}}">{{player().name}}</span>
                    </h2>
                    <table id="players" class="table">
                        <tr>
                            <th>Name</th>
                            <th>Fields</th>
                            <th>Points</th>
                        </tr>
                        <tr ng-repeat="player in players">
                            <td><span class="label {{player.color}}">{{player.name}}</span></td>
                            <td>{{player.fields}}</td>
                            <td>{{player.points}}</td>
                        </tr>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>