$players: (
  'red':#a22, 
  'blue':#44c,
  'green':#222,
  'yellow':#222,
  'magenta':#222,
  'cyan':#222
  );

#board {
  margin: .8em;
  float: left;
}

.field {
  width: 20px;
  height: 20px;
  margin: 3px;
  border-radius: 3px;
  &:hover {
    opacity: .5;
  }
  &.land {
    background: #ddd;
  }
  &.mine {
    background: #222;
    &.red {
      background: #a22;
    }
    &.blue {
      background: #44c;
    }
  }
}

@each $player, $color in $players {
  .cannot-explode-others.#{$player} {
    .field.mine:not(.#{$player}):hover {
      cursor: not-allowed;
      opacity: 1;
    }
  }

  .label.#{$player} {
    background: #{$color};
  }
}

.clearfix {
  width: 0;
  height: 0;
  clear: both;
}